html,body{
    margin: 0
    padding: 0
    width: 100%
    height: 100%
}
body {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color:#F4F4F2;
    filter: none !important;
}
h1, h2, h3, h4, h5 {
    color: var(--c-n);
    color: #4cb07b;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 0.1em 0.2em;
    display: block;
}

h1.small-h1 {
    font-size: 1.8em;
    margin: 1em 0;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

h4 {
    font-size: 1.5em;
    text-align: left;
    margin: 0.8em 0;
}

h5 {
    font-size: 1em;
    text-align: left;
}
.bg{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%
}
.content{
    font-size: 60px;
    color: #4d4d4d;
    
}
.content-front {
    position:absolute;
    left: 10px;
    right: 10px;
    height:600px;
    line-height: 600px;
    text-align: center;
}
.cover{
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background-color #999999
    opacity .8
    z-index -1
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}